*{
    padding: 0;
    margin: 0;
}
.sidebar{
    /* padding-left: 10px; */
    /* min-height: 100vh; */
    /* min-width: 40vh;  */
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f0f4f9;
    transition: width 0.4s;
}
/* .sidebar:hover{
    width: 260px;
} */
.extended {
    width: 260px;
}
.collapsed {
    width: 60px;
}
.sidebar img{
    padding-top: 5px;
    width: 20px;

}
.sidebar .menu{
    display: block;
    margin-left: 10px;
    cursor: pointer;
}
.sidebar .new-chat{
    margin-top: 50px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    background-color: #e6eaf1;
    border-radius: 50px;
    font-size: 14px;
    color: grey;
    cursor: pointer;

}
.sidebar .recent{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 20px;
    /* align-items: start; */
}
.sidebar .recent-title{
    margin-top: 30px;
    margin-bottom: 20px;
}
.sidebar .recent-entry{
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 10px;
    padding-right: 40px;
    border-radius: 50px;
    color: #282828;
    cursor: pointer;
}
.sidebar .recent-entry:hover{
    background-color: #e2e6eb;
}
.sidebar .recent-entry p{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    
}

.sidebar.bottom{
    display: flex;
    flex-direction: column;
}
.sidebar.bottom-item{
    padding-right: 10px;
    cursor: pointer;
}